.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 10px;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 10px;
}

.header {
  text-align: center;
  background: rgb(15, 15, 15);
  color: white;
  flex-basis: 100%;
  flex-direction: column;
  padding: 1px 1px 10px;
}

.header-input {
  align-content: flex-end;
  
}

.header-title {
  justify-self: center;
}

.countrie-card {
  width: 200px;
  background: rgb(214, 212, 212);
  box-shadow: 3px 5px 5px black;
  transition: tranform 100ms ease-in-out;
  padding: 20px 10px 10px;
}

.countrie-card:hover {
  transform: scale(1.05);
}
.countries-flag {
  max-width: 100%;
}

.countries-name {
  font-size: 1.2rem;
}

.countries-capital {
  font-size: 1rem;
}

.countries-population {
  font-size: 0.5rem;
}

.countries-currencies {
  font-size: 0.5rem;
}